/*
    Public domain 2015 Luis Felipe López Acevedo. All rights waived.
    <felipe.lopez@openmailbox.org>
   
    NOTE  The default style is targeted at screens with a width less than
          1024 pixels.
*/

article, .article {
    background-color: white;
    margin: auto;
    max-width: 980px;
    padding: 50px 20px;
}

h1, h2, h3, h4, h5 {
    color: #4D4D4D;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, td, th {
    border-color: gray;
    border-style: solid;
    border-width: thin;
}

td, th {
    padding: 5px 10px;
}

td {
    font-size: 0.9em;
}

th {
    background-color: #F5F5F5;
}
