/*
    Public domain 2015 Luis Felipe López Acevedo. All rights waived.
    <felipe.lopez@openmailbox.org>
   
    NOTE  The default style is targeted at screens with a width less than
          1024 pixels.
*/

@import url("message-box.css");
@import url("header-box.css");
@import url("footer-box.css");


/* NATIVE ELEMENTS */
a:link, a:visited {
    border-color: #F4BB15;
    border-style: none none solid none;
    border-width: thin;
    color: #1A1A1A;
    text-decoration: none;
}

a:active, a:focus, a:hover {
    border-color: #F49B15;
    border-style: none none dashed none;
    color: black;
}

body {
    background-color: #333;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0px;
}
/* END NATIVE ELEMENTS */


/* IDs */
#content-box {
    background-color: white;
}
/* END IDs */


/* CLASSES */
a.button:link, a.button:visited {
    background-position: bottom;
    background-repeat: repeat-x;
    border-style: none;
    border-radius: 5px;
    color: white;
    display: block;
    font-size: 14px;
    padding: 8px 15px;
    text-align: center;
}

a.btn-blue {
    background-color: #63AFD8;
    background-image: url("../img/blue-btn-bg.png");
}

a.btn-red {
    background-color: #D86F63;
    background-image: url("../img/red-btn-bg.png");
}

a.hlink-yellow:link, a.hlink-yellow:visited {
    border-style: none;
    color: #F4BB15;
}

a.hlink-yellow:active, a.hlink-yellow:focus, a.hlink-yellow:hover {
    color: #F49B15;
}

a.hlink-more-dark, a.hlink-more-light {
    background-image: url("../img/more-info-bg.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    border-style: none;
    display: inline-block;
    font-size: 1.2em;
    line-height: 20px;
    margin: 20px 0px;
    padding-right: 30px;
}

a.hlink-more-dark, a.hlink-more-dark:link, a.hlink-more-dark:visited {
    color: #333;
}

a.hlink-more-dark:active, a.hlink-more-dark:focus, a.hlink-more-dark:hover {
    color: black;
}

a.hlink-more-light, a.hlink-more-light:link, a.hlink-more-light:visited {
    color: #E6E6E6;
}

a.hlink-more-light:active, a.hlink-more-light:focus, a.hlink-more-light:hover {
    text-shadow: 2px 2px black;
}

a.hlink-yellow-boxed, a.hlink-yellow-boxed:link, a.hlink-yellow-boxed:visited {
    background-color: #F4BB15;
    border-style: none;
    color: black;
    display: inline-block;
    font-size: 1.2em;
    line-height: 20px;
    margin: 10px;
    padding: 10px 15px;
}

a.hlink-yellow-boxed:active, a.hlink-yellow-boxed:focus,
a.hlink-yellow-boxed:hover {
    box-shadow: 2px 2px black;
}

.h-separator {
    display: block;
    margin: auto;
    padding: 20px 0px;
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
/* END CLASSES */


@media screen and (min-width: 1024px) {
    a.button:link, a.button:visited {
        display: inline-block;
    }

    .h-separator {
        width: auto;
    }
    
    
    /* GENERIC CONTAINERS */    
    .summary-box {
        color: #4D4D4D;
        display: inline-block;
        font-size: 0.9em;
        margin: 5px;
        padding: 10px;
        text-align: left;
        vertical-align: top;
        width: 280px;
    }
    /* END GENERIC CONTAINERS */
}
