/* Public domain 2017. All rights waived */

.download-box {
    border-color: #CCC;
    border-style: none none solid none;
    border-width: thin;
    color: #4D4D4D;
    font-size: 0.9em;
    padding: 10px;
    text-align: center;
}

.download-btn,
.download-btn:link,
.download-btn:visited {
    background-color: #E6E6E6;
    border-style: none;
    border-radius: 5px;
    color: black;
    display: inline-block;
    font-weight: bold;
    margin: 5px;
    padding: 5px 10px;
}

.download-btn:active,
.download-btn:focus,
.download-btn:hover {
    background-color: #F4BB15;
}

.signature-btn {
    display: inline-block;
    margin: 0px 5px;
}



@media screen and (min-width: 800px) {
    .download-box {
        border-style: solid;
        display: inline-block;
        margin: 10px;
        vertical-align: top;
        width: 270px;
    }
}
