/* Public domain 2017. All rights waived */

a:link, a:visited {
    border-color: #F4BB15;
    border-style: none none solid none;
    border-width: thin;
    color: #1A1A1A;
    text-decoration: none;
}

a:active, a:focus, a:hover {
    border-color: #F49B15;
    border-style: none none dashed none;
    color: black;
}

a img {
    border-style: none;
}

abbr {
    cursor: help;
}

blockquote {
    color: #565656;
    font-style: italic;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0px;
}

code {
    color: maroon;
    font-size: 0.8em;
}

code, pre {
    font-family: monospace;
}

html {
    background-color: #333;
}

main {
    background-color: white;
}

pre {
    background-color: #F2EFE4;
    border-style: solid;
    border-color: #D4CBB6;
    border-radius: .3em;
    border-width: thin;
    overflow: auto;
    padding: 2em;
}

pre,
pre code {
    color: inherit;
    font-size: 0.9em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, td, th {
    border-color: gray;
    border-style: solid;
    border-width: thin;
}

td, th {
    padding: 5px 10px;
}

td {
    font-size: 0.9em;
}

th {
    background-color: #F5F5F5;
}