/*
    Public domain 2015 Luis Felipe López Acevedo. All rights waived.
    <felipe.lopez@openmailbox.org>
   
    NOTE  The default style is targeted at screens with a width less than
          1024 pixels.
*/

#header-box {
    background-color: #333;
}

#logo {
    border-style: none;
    color: white;
    font-weight: bold;
    line-height: 55px;
}

#logo:active, #logo:focus, #logo:hover {
    color: #F4BB15;
}

#site-nav {
    margin: 0;
    padding: 0;
    line-height: 55px;
    list-style: none;
}

#site-nav > li {
    display: block;
}

#site-nav a:link, #site-nav a:visited {
    background-color: transparent;
    background-image: url("../img/link-arrow.png");
    background-position: 97% 50%;
    background-repeat: no-repeat;
    border-color: black;
    border-style: solid none none none;
    border-width: thin;
    color: #F4BB15;
    display: block;
    padding: 0px 20px; 
    text-align: left;
    text-decoration: none;
}

#site-nav a:active, #site-nav a:focus, #site-nav a:hover {
    background-color: #2E3436;
    color: #F49B15;
}


@media screen and (min-width: 1024px) {
    #header-box {
        height: 55px;
    }

    #logo > img {
        border-style: none;
    }

    #site-nav {
        float: right;
        margin-right: 20px;
    }


    #site-nav > li {
        display: inline-block;
        text-align: center;
    }

    #site-nav a:link, #site-nav a:visited {
        background-image: none;
        border: none;
        padding: 0px 10px;
    }

    #site-nav a:active, #site-nav a:focus, #site-nav a:hover {
        background-color: transparent;
        border-style: none none solid;
        border-color: #F4BB15;
    }
}
