/*
    Public domain 2015 Luis Felipe López Acevedo. All rights waived.
    <felipe.lopez@openmailbox.org>

    NOTE  The default style is targeted at screens with a width less than
          1024 pixels.
*/

h2 {
    color: #4D4D4D;
    font-size: 2.5em;
    margin: 50px 0px;
}

h3 {
    color: #4D4D4D;
    font-size: 2.0em;
}

.info-box {
    display: inline-block;
    margin: 0px 20px 20px 20px;
}


/* FEATURED BOX */
#featured-box {
    background-color: #3D3D3D;
    background-image: url("../img/checkerboard-bg.png"),
                      url("../img/featured-box-bg.png");
    background-position: top, bottom;
    background-repeat: repeat, repeat-x;
}

.featured-content {
    color: white;
    font-size: 17px;
    padding: 40px 20px;
}

.featured-heading {
    color: white;
    font-size: 24px;
    margin: 0px;
}

.featured-content > ul {
    list-style-image: url("../img/white-star.png");
    padding-left: 20px;
}

.featured-content li {
    padding: 10px 0px;
}

.featured-actions {
    text-align: center;
}

.action, .action:link, .action:visited {
    border-color: black;
    border-radius: 6px;
    border-style: solid;
    border-width: thin;
    color: white;
    display: block;
    font-size: 14px;
    height: 47px;
    line-height: 47px;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
}

.action:active, .action:focus, .action:hover {
    box-shadow: 0 0 4px gray;
}

.download {
    background-color: #60B0DB;
    background-image: url("../img/download-btn-bg.png");
    background-position: bottom;
    background-repeat: repeat-x;
}

.contribute {
    background-color: #B060DB;
    background-image: url("../img/contribute-btn-bg.png");
    background-position: bottom;
    background-repeat: repeat-x;
}
/* END FEATURED BOX */


/* DISCOVERY BOX */
#discovery-box {
    background-color: #333;
    background-image: url("../img/discovery-box-shadow-bg.png"),
                      url("../img/discovery-box-bg.png");
    background-repeat: repeat-x, repeat;
    color: #E6E6E6;
    padding: 40px 10px;
    text-align: center;
}

#discovery-box h2 {
    color: #E6E6E6;
}

.video-preview {
    border-color: black;
    border-style: solid;
    border-width: thin;
    box-shadow: 0 0 4px black;
    width: 100%;
}

#screens-box {
    padding: 30px 0px;
}

#screens-box a {
    border-style: none;
    color: white;
    display: inline-block;
}

.screenshot-thumb {
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    box-shadow: 0 0 4px gray;
    display: inline-block;
    margin: 10px;
    width: 300px;
}

.screenshot-thumb:hover {
    box-shadow: 0 0 4px black;
}
/* END DISCOVERY BOX */


/* NEWS BOX */
#news-box {
    padding: 0px 10px;
    text-align: center;
}

.news-entry:link, .news-entry:visited {
    color: inherit;
    display: block;
    padding: 10px 15px;
    text-align: left;
}

.news-entry:active, .news-entry:focus, .news-entry:hover {
    background-color: #F4BB15;
}

.news-date {
    color: #4D4D4D;
    font-size: 0.9em;
}

.news-summary {
    color: #4D4D4D;
}
/* END NEWS BOX */


/* CONTACT BOX */
#contact-box {
    background-color: #F5F5F5;
    background-image: url("../img/h-separator.png"),
                      url("../img/h-separator.png");
    background-position: top center, bottom center;
    background-repeat: no-repeat;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #4D4D4D;
    padding: 10px;
    text-align: center;
}
/* CONTACT BOX */


@media screen and (min-width: 480px) {
    .action, .action:link, .action:visited {
	display: inline-block;
	width: 196px;
    }
}


@media screen and (min-width: 1024px) {
    .info-box {
        vertical-align: top;
        width: 420px;
    }


    /* FEATURED BOX */
    #featured-box {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 445px;
        padding-top: 40px;
    }

    .featured-content {
        margin: auto;
        width: 960px;
    }

    .featured-actions {
        text-align: right;
    }
    /* END FEATURED BOX */


    /* NEWS BOX */
    #news-box {
        text-align: center;
        padding: 0px 10px;
    }

    .news-entry:link, .news-entry:visited {
        background-color: transparent;
        border-color: white;
        border-style: solid;
        display: inline-block;
        margin: 10px 0px 15px 0px;
        vertical-align: top;
        width: 270px;
    }

    .news-entry:active, .news-entry:focus, .news-entry:hover {
        border-color: #F4BB15;
    }
    /* END NEWS BOX */
}
